# Environments
.env
.env.local
venv/
backend/venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Datasets
*.zip
backend/datasets/raw/*.zip
frontend/node_modules/
dist/
frontend/dist/
.DS_Store

# Database
*.sqlite
*.sqlite3
*.db
backend/*.db

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
